:root {
  --main-font-family: 'Space Grotesk', sans-serif;
  --main-font-size: 1.125rem;
  --white: hsl(0, 0%, 100%);
  --input-errors: hsl(0, 100%, 66%);
  --black-transparent: rgba(0, 0, 0, 0.2);
  --very-dark-violet: hsl(278, 68%, 11%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --linear-gradient-focus-start:hsl(249, 99%, 64%);
  --linear-gradient-focus-end: hsl(278, 94%, 30%);
}
